* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    box-shadow: 100 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 50px;
}

.botoes-header a {
  margin-left: 15px;
  padding: 10px 18px;
  font-size: 1rem;
  background-color: #3ab5fe;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.botoes-header a:hover {
    background: #1c587a;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caixa-texto {
    width: 600px;
}

h1 {
    color: #333333;
    font-size: 60px;
    font-weight: bold;
}

span {
    color: #3ab5fe;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 16px;
}

button {
    background: #3ab5fe;
    color: #ffffff;
    border-radius: 40px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background: #1c587a;
}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.starbucks {
    width: 340px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.botao-menu {
    width: 60px;
    cursor: pointer;
    transition: 0.5s;
}

.botao-menu:hover {
    transform: translateY(-30px);
}

.conteudo2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 110px;
}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 110px;
}

.caixa-texto2 {
    width: 900px;
}

h2 {
    color: #333333;
    font-size: 60px;
    font-weight: bold;
}

footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 16px;
    color: #333333;
}
